<!DOCTYPE html>
<html>
<head>
    {% load static %}
</head>
<body>
<h1>Radar</h1>
<p></p>
<img id="radarImage" src="{% static 'radar_plot.png' %}?v={{ output }}" alt="Radar Plot" style="width: 400px; height: auto;"/>
<p> </p>
<p>Room State: <span id="radarRoomState">Unknown</span></p>
<button id="refreshRoomStateButton">Refresh Room State</button>
<p> </p>
<button id="refreshButton">Refresh Radar Image</button>
<p id="responseMessageRadar"></p>
<script>
// refresh room state
document.getElementById("refreshRoomStateButton").addEventListener("click", function() {
    fetch('/stuff/get-radar-room-state/', {
        method: 'GET',
    })
    .then(response => response.json())
    .then(data => {
        document.getElementById("radarRoomState").innerText = data.message ? "Human Detected" : "Empty";
    })
    .catch(error => console.error('Error:', error));
});

// refresh img
document.getElementById("refreshButton").addEventListener("click", function() {
    fetch('/stuff/get-radar-img/', {  // URL of the Django view
        method: 'GET',
    })
    .then(response => response.json()) // Expect JSON response
    .then(data => {
        document.getElementById("responseMessageRadar").innerText = data.message; // Show response
    })
    .catch(error => console.error('Error:', error));
});
</script>
</body>
</html>